.ummm{
	background-color: black;
	text-align: center;
	height: 800px;
	margin-top: 3px;

}
.yuh{
	color: #86868b;
	padding-top: 120px;
	font-weight: bolder;
}
.fine{
	font-weight: 600;
	color:#b344ff;
	padding-bottom: 20px;
}
.right{
	color: white;
	font-weight: bolder;
	padding-bottom: 15px;
}
.good{
	text-align: center;
}
.all{
	font-weight: bolder;
	padding-top: 80px;
	color: #86868b;
}
.off{
	color: black;
}
.gee{
	text-align: center;
	padding-top: 150px;
}
.lee{
	padding-top: 80px;


}
.alo{
	width: 1000px;
	height: 1000px;
}
.kof{
	width: 700px;
}
.ko{
	width: 550px;
}
.ri{
	color: blue;
}
.yup{
	text-align: center;
	font-weight: bolder;
	color: black;
}
#big{
	margin-left: 100px;
	margin-right: 100px;
}
.yh{
	padding-left: 300px;
}
.nav{
	background-color: blanchedalmond;
	padding-left: 20px;
}
.bam{
	background-color: springgreen;
	color: red;
	height: 50px;
	padding-top: 10px;
	padding-left: 40px;
}
.ceen{
	padding-left: 5px;

}
.be{
	color: chocolate;
}
.ry{
	background-color: red;
}
